<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This project was built by me, Justin Carter. Using Ruby on rails.
</p>
<%= link_to image_tag("rails.png", :alt => "Rails"), 'http://rubyonrails.org/' %>