<%= form_for(current_user.reverse_relationships.build(followed_blog_id: @blog.id)) do |f| %>
  <div><%= f.hidden_field :followed_blog_id %></div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>