<% provide(:title, "Search") %>
<div class="span8">
	<ul class="blogs">
	  <% @blogs.each do |blog| %>
	    <li>
	    	<div class="content">
	    		<div>
	    			<h3 class="blog-link">
		    			<%= link_to blog.name, blog %>
		    		</h3>
		    		<h3 class="user-name">
		    			<% user = User.find(blog.user_id) %>
		    			<%= user.name%>
		    		</h3>
		    		<div class="tags">
		    			<% blog.tags.each do |tag|%>
		    				<%= tag.name + " " %>
		    			<% end -%>
		    		</div>
	    		</div>
	    		
	    		
	    	</div>
	      
	    </li>
	  <% end %>
	</ul>
</div>
