<% provide(:title, @user.name) %>
  
  <div class="span8">
    
      <%= render 'follow_form' if signed_in? %>
    <% if @user.blogs.any? %>
      <h3>Blogs (<%= @user.blogs.count %>)</h3>
      <ol class="blogs">
        <%= render @blogs %>
      </ol>
      <%= will_paginate @blogs %>
    <% end %>
  </div>
