<%= form_for(@blog) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_feild :name, placeholder: "Blog name" %>
  </div>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>