<li>
  <span class="title"><%= post.title %></span>
  <span class="title"><%= post.content %></span>
  <span class="title"><%= post.source %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>